.home {
    height: 100vh;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.home-container {
    height: 100vh; /* Full viewport height */
    background-color: var(--bg-color);;
    position: fixed; /* Keeps the .home section fixed in place */
    top: 0; /* Aligns it at the top */
    left: 0; /* Aligns it to the left */
    right: 0; /* Aligns it to the right */
    z-index: 1; /* Places it behind other sections */
    display: grid;
    grid-template-rows: 80px 1fr 80px; /* Defines 3 rows: header, content, footer */
    grid-template-columns: 1fr 4fr 1fr; /* Defines 3 columns: left, center, right */
    grid-template-areas: 
        "header header header"  /* Header spans all 3 columns */
        "left main right"       /* Left, main, and right in the second row */
        "footer footer footer"; /* Footer spans all 3 columns */
    padding: 50px;
    padding-top: 65px;
}

.header {
    grid-area: header;
    color: #226160; 
    padding: 20px;
    margin-top: 100px;
    margin-left: 200px;
    font-size: 40px;
    font-family: "Luckiest Guy", 'Bebas Neue';
    font-weight: bold;
    z-index: 1;
}

.left {
    grid-area: header;
    color: #226160; 
    padding: 20px;
    margin-top: 250px;
    margin-left: 200px;
    font-size: 30px;
    font-family: "Luckiest Guy", 'Bebas Neue';
    font-weight: bold;
    z-index: 1;
}

.l1 {
    margin-top: 300px;
}
.l2 {
    margin-top: 210px;
    font-size: 20px;
    font-family: "Pacifico";
}
.l3 {
    margin-top: 450px;
}

.main {
    grid-area: main;
    padding: 20px;
    text-align: center;
}

.profile-img-container {
    height: 650px;
    width: 1200px;
    overflow: hidden; /* Hides the part of the image that overflows */
    position: relative;
    border-radius: 25px;
    border: 1px solid gray;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
}
  

.profile-img {
    width: 50%;
    height: 100%; /* Keeps the image's aspect ratio */
    padding: 20px;
    margin-left: 40%;
    filter: grayscale(75%); /* Makes the image black and white */
    object-fit: cover;
    mask-image: 
        radial-gradient(circle, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 80%);
}

.profile-img:hover {
    mask-image: none;
    transition: 1s ease-in-out;
}


.right {
    grid-area: right;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

.footer {
    grid-area: footer;
    color: #226160; 
    padding: 20px;
    font-size: 30px;
    font-family: "Pacifico", 'Bebas Neue';
    font-weight: bold;
    text-align: end;
}
