.theme_toggler {
    background: rgba(0, 0, 0, 0);
    z-index: 999999999;
    left: 10px;
    background: var(--primary-color);
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 10px;
}

.ac_transparent {
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
}

.theme_toggler svg {
    width: 2em;
    height: 2em;
}